* {
  padding: 0;
  margin: 0;
  background-color: rgb(109, 109, 142);
}

.search h1 {
  font-size: 3rem;
  text-align: center;
  color: red;
  text-decoration: underline;
}
.search form {
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.search h2 {
  text-align: center;
}
.head_input {
  position: relative;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 7.5rem;
}
.search input {
  font-size: 2rem;
  padding: 6px 15px;
  border-radius: 20px;
  background-color: white;
}
.pagination {
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.pagination button {
  font-size: 1.5rem;
  padding: 4px 10px;
  margin: 0 15px;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;
  background-color: wheat;
}
.pagination button:hover {
  background-color: gray;
  border: 3px solid black;
}
.pagination p {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}
.stories {
  position: relative;
  top: 4rem;
  display: grid;
  grid-template-columns: auto auto;
}

.stories .news_box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
  margin: 10px 50px;
  padding: 15px 20px;
  height: 30vh;
}
.stories .news_box:hover {
  position: relative;
  top: 10px;
  left: 10px;
}
.news_box p {
  font-size: 1.3rem;
}
.news_box .stories_link {
  position: relative;
}
.news_box .stories_link .link1 {
  color: red;
  border: 2px solid black;
  padding: 0 6px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 2rem;
  position: relative;
  bottom: 21vh;
  left: 37vw;
  transition: all 0.2s;
}
.news_box .stories_link .link1:hover {
  background-color: red;
  color: white;
}
.news_box .stories_link .link2 {
  color: blue;
  font-size: 1.5rem;
  transition: all 0.2s;
}
.news_box .stories_link .link2:hover {
  cursor: pointer;
  color: white;
}
@media (max-width: 1300px) {
  .stories {
    grid-template-columns: auto;
  }
  .stories .news_box {
    width: 75vw;
  }
  .news_box .stories_link .link1 {
    left: 73vw;
  }
}
@media (max-width: 700px) {
  .news_box .stories_link .link1 {
    left: 71vw;
  }
}
@media (max-width: 450px) {
  .news_box .stories_link .link1 {
    bottom: 25vh;
  }
  .search h1 {
    font-size: 2rem;
  }
  .search input {
    font-size: 1.2rem;
    padding: 2px 6.5px;
  }
}
