* {
  padding: 0;
  margin: 0;
  background-color: rgb(109, 109, 142);
}

.search h1 {
  font-size: 3rem;
  text-align: center;
  color: red;
  text-decoration: underline;
}
.search form {
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.search h2 {
  text-align: center;
}
.head_input {
  position: relative;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 7.5rem;
}
.search input {
  font-size: 2rem;
  padding: 6px 15px;
  border-radius: 20px;
  background-color: white;
}
.pagination {
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.pagination button {
  font-size: 1.5rem;
  padding: 4px 10px;
  margin: 0 15px;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;
  background-color: wheat;
}
.pagination button:hover {
  background-color: gray;
  border: 3px solid black;
}
.pagination p {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}
.stories {
  position: relative;
  top: 4rem;
  display: grid;
  grid-template-columns: auto auto;
}

.stories .news_box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
  margin: 15px 35px;
  padding: 15px 20px;
  height: 30vh;
  position: relative;
}
.stories .news_box:hover {
  position: relative;
  top: 5px;
  left: 5px;
}
.stories .news_box h1 {
  font-size: 2rem;
  margin: 10px 20px;
}
.stories .removeBtn {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  right: -18px;
  top: -16px;
  cursor: pointer;
}
.stories .removeBtn a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  position: relative;
  left: 12.5px;
}
.stories .removeBtn:hover {
  background-color: red;
}
.stories .removeBtn:hover a {
  background-color: red;
}
.news_box p {
  font-size: 1.3rem;
}
.stories .news_box .link {
  font-size: 1.5rem;
  color: blue;
}
@media (max-width: 1000px) {
  .stories .news_box {
    padding: 7.5px 10px;
    height: 35vh;
  }
  .stories .news_box h1 {
    font-size: 1.5rem;
    margin: 5px 10px;
  }
}
@media (max-width: 750px) {
  .stories {
    display: grid;
    grid-template-columns: auto;
  }
}
@media (max-width: 750px) {
  .search input {
    font-size: 1.5rem;
    padding: 3px 7.5px;
    border-radius: 10px;
  }
}
